.content-layout {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    max-width: 849px;
    margin-left: 100px;
}
  
 .main-title {
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 100px;
    color: white;
 }
 
.main-text {
    font-family: "Saira";
    font-size: 32px;
    color: white;
}
 
.bg-container {
    width: 100%;
    height: 100%;   
    margin-top: 600px; 
}

.service-layout {
    background-image: url("src/assets/bg-solutions.svg"); /* ใช้ path ของรูป */
    background-size: contain; /* ปรับให้เต็มพื้นที่ */
    background-position: center; /* จัดให้อยู่ตรงกลาง */
    background-repeat: no-repeat; /*ป้องกันการซ้ำ*/
     background-color: #000; /* ปรับเป็นสีเดียวกับพื้นหลัง */
    /* transform: scale(1); */
    height: 100%;
    width: 100%;
    /* margin-top: 600px; */

}

.bold-text {
  font-weight: 700 !important;
}

.vl {
  height: 277px;
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background: linear-gradient(
    to bottom,
    #4b6b6e 10%,
    #F6CAA9 45%,
    #44686A 85%
  );
}
  
.iso-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1%;
}

.iso-item-content {
  font-family: "Saira", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 48px;
  line-height: 120%;
    
}

.color-gradient-1 {
  background: linear-gradient(#007EC7 0%, #4ED4C3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 5px 13.3px rgba(255, 255, 255, 0.21);
}
.color-gradient-2{
color: #3CE1CD;
text-shadow: 0px 1px 10px rgba(244, 214, 105, 0.6); /* สี F4D669 ที่ความโปร่งใส 60% */
}

.community-layout {
  width: 100%;
  height: 2097px;
  overflow: hidden; /* ซ่อนส่วนที่เกิน */
}

.bg-community {
  background-color: #101111;
}

.filter-bg-community-1 {
  width: 100%;
  height: 97%;
  top: 3%;
  left: 0;
  position: absolute;
  background-color: rgba(90, 50, 4, 0.5); /* สี RGB พร้อมความโปร่งใส 50% */
  opacity: 100%;
  z-index: 1;
}
.filter-bg-community-2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: radial-gradient(circle at bottom, rgba(23, 23, 23, 0) 0%, rgba(14, 15, 12, 1) 96%);
  opacity: 100%;
  z-index: 2;
}
.circle-bg-community-1{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  /* opacity: 56%; */
  filter: blur(200px); /* เพิ่ม Effect blur */
  background: linear-gradient(180deg, #052639 0%, #066398 100%);
  z-index: 3;
  top: 15%;
  left: 70%;
  position: absolute;
}
.circle-bg-community-2{
  width: 350px;
  height: 350px;
  border-radius: 100%;
  /* opacity: 56%; */
  filter: blur(150px); /*เพิ่ม Effect blur*/
  background: linear-gradient(180deg, #052639 0%, #066398 100%);
  z-index: 3;
  bottom: 40%;
  left: 5%;
  position: absolute;
}